<a href="https://colab.research.google.com/github/Kennethfargose/Sports-Analytics-/blob/main/sds1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy import stats
%matplotlib inline

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/deliveries.csv')

FileNotFoundError: ignored

In [ ]:
df

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,1,SC Ganguly,BB McCullum,P Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
1,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,2,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,3,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,1,1,NaN,NaN,NaN
3,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,4,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Kolkata Knight Riders,Royal Challengers Bangalore,1,5,BB McCullum,SC Ganguly,P Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
136593,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,2,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,2,0,2,NaN,NaN,NaN
136594,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,3,Sachin Baby,CJ Jordan,B Kumar,0,...,0,0,0,0,0,0,0,CJ Jordan,run out,NV Ojha
136595,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,4,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,1,0,0,0,1,1,NaN,NaN,NaN
136596,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,5,Sachin Baby,Iqbal Abdulla,B Kumar,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
136597,577,2,Royal Challengers Bangalore,Sunrisers Hyderabad,20,6,Iqbal Abdulla,Sachin Baby,B Kumar,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN

In [ ]:
# batsman_name="S Dhawan"
# bowler_name="RP Singh"

In [ ]:
df.drop(columns=["match_id","inning","batting_team","bowling_team","player_dismissed","over","bye_runs","non_striker","penalty_runs"], axis=1,inplace=True)

In [ ]:
df.head(5)

,ball,batsman,bowler,is_super_over,wide_runs,legbye_runs,noball_runs,batsman_runs,extra_runs,total_runs,dismissal_kind,fielder
0,1,SC Ganguly,P Kumar,0,0,1,0,0,1,1,NaN,NaN
1,2,BB McCullum,P Kumar,0,0,0,0,0,0,0,NaN,NaN
2,3,BB McCullum,P Kumar,0,1,0,0,0,1,1,NaN,NaN
3,4,BB McCullum,P Kumar,0,0,0,0,0,0,0,NaN,NaN
4,5,BB McCullum,P Kumar,0,0,0,0,0,0,0,NaN,NaN

In [ ]:
df2=df.drop(columns=['is_super_over',	'wide_runs',	'legbye_runs',	'noball_runs',	'batsman_runs',	'extra_runs','fielder'],axis=1,inplace=True)

In [ ]:
df2.sample(n=1000,random_state=1).plot()

In [ ]:
def batsman_score_value():
    # total run percentile and percentage
    top_batsman_run=df.groupby("batsman")["batsman_runs"].sum().sort_values(ascending=False)

    batsman_run=top_batsman_run[batsman_name]

    top_batsman_size=top_batsman_run.size # total number of batsman

    mask=top_batsman_run.values>batsman_run
    better_batsman=np.sum(mask) #no of true i.e people above the threashold

    percentile_run=(top_batsman_size-better_batsman)/top_batsman_size*100
    percentile_run

    percentage_run=(top_batsman_run[batsman_name]/top_batsman_run[0])*100
    percentage_run

    #mean_run_score=stats.tmean([percentage_run,percentile_run])
    mean_run_score=percentile_run
    #print(percentage_run,percentile_run)
    mean_run_score

    #bests batsman strikerate percentage and percentile
    top_batsman_ball=df.groupby("batsman")["batsman_runs"].count()
    top_batsman_ball=top_batsman_ball[top_batsman_ball>190]
    top_batsman_runrate=(top_batsman_run/top_batsman_ball).sort_values(ascending=False)

    batsman_runrate=top_batsman_runrate[batsman_name]

    top_batsman_size=top_batsman_runrate.size # total number of batsman

    mask=top_batsman_runrate.values>batsman_runrate
    better_batsman=np.sum(mask) #no of true i.e people above the threashold

    percentile_runrate=(top_batsman_size-better_batsman)/top_batsman_size*100
    percentile_runrate

    percentage_runrate=(top_batsman_runrate[batsman_name]/top_batsman_runrate[0])*100
    percentage_runrate

    #mean_runrate_score=stats.tmean([percentage_runrate,percentile_runrate])
    mean_runrate_score=percentile_runrate
    #print(percentage,percentile)
    mean_runrate_score


    batsman_score=stats.tmean([mean_run_score,mean_runrate_score])
    return batsman_score

In [ ]:
def bowler_score_value():
    
    # wicket score
    
    top_bowler=df.groupby("bowler")["dismissal_kind"].count().sort_values(ascending=False)
    bowler_wicket=top_bowler[bowler_name]

    top_bowler_size=top_bowler.size # total number of batsman

    mask=top_bowler.values>bowler_wicket
    better_bowler=np.sum(mask) #no of true i.e people above the threashold

    percentile=(top_bowler_size-better_bowler)/top_bowler_size*100
    percentile

    percentage=(top_bowler[bowler_name]/top_bowler[0])*100
    percentage

    #mean_wicket_score=stats.tmean([percentage,percentile])
    mean_wicket_score=percentile
    

    # economy rate

    bowler_ball=df["bowler"].value_counts()
    #bowler_ball=total_ball[total_ball.values>170]

    bowler_runs=df.groupby("bowler")["total_runs"].sum().sort_values(ascending=False)

    economy_rate=(bowler_runs/bowler_ball).dropna().sort_values()

    economy_rate_bowler=economy_rate[bowler_name]

    mean_economy_score=(economy_rate>economy_rate_bowler).sum()/economy_rate.shape[0]*100


    bowler_score=stats.tmean([mean_wicket_score,mean_economy_score])
    return bowler_score

In [ ]:
batsman_name=input()
bowler_name=input()

try:
    if(bowler_score_value(bowler_name)>batsman_score_value(batsman_name)):
        print(" Bowler, "+bowler_name+" performs well")
    else:
        print("Batsman, "+ batsman_name +" perfoms well")
except:
    print("Invalid")

R Sharma
R Ashwin
 Bowler, R Ashwin performs well

In [ ]:
df.plot(x='col_name_1', y='col_name_2', style='o')

In [ ]:
if batsman_name in df.columns:
    ax = df[batsman_name].plot(x='Ind', kind='bar')